<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Collecting Job Data Using APIs**

Estimated time needed: **45 to 60** minutes

## Objectives

After completing this lab, you will be able to:

*   Collect job data from Jobs API
*   Store the collected data into an excel spreadsheet.

> <strong>Note: Before starting with the assignment make sure to read all the instructions and then move ahead with the coding part.</strong>

#### Instructions

To run the actual lab, firstly you need to click on the [Jobs_API](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Jobs_API.ipynb) notebook link. The file contains flask code which is required to run the Jobs API data.

Now, to run the code in the file that opens up follow the below steps.

Step1: Download the file.

Step2: Upload it on the IBM Watson studio. (If IBM Watson Cloud service does not work in your system, follow the alternate Step 2 below)

Step2(alternate): Upload it in your SN labs environment using the upload button which is highlighted in red in the image below:
Remember to upload this Jobs_API file in the same folder as your current .ipynb file

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/Upload.PNG" />

Step3:  Run all the cells of the Jobs_API file. (Even if you receive an asterik sign after running the last cell, the code works fine.)

If you want to learn more about flask, which is optional, you can click on this link [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/FLASK_API.md.html).

Once you run the flask code, you can start with your assignment.

## Dataset Used in this Assignment

The dataset used in this lab comes from the following source: [https://www.kaggle.com/promptcloud/jobs-on-naukricom](https://www.kaggle.com/promptcloud/jobs-on-naukricom?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01) under the under a **Public Domain license**.

> Note: We are using a modified subset of that dataset for the lab, so to follow the lab instructions successfully please use the dataset provided with the lab, rather than the dataset from the original source.

The original dataset is a csv. We have converted the csv to json as per the requirement of the lab.

## Warm-Up Exercise

Before you attempt the actual lab, here is a fully solved warmup exercise that will help you to learn how to access an API.

Using an API, let us find out who currently are on the International Space Station (ISS).<br> The API at [http://api.open-notify.org/astros.json](http://api.open-notify.org/astros.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) gives us the information of astronauts currently on ISS in json format.<br>
You can read more about this API at [http://open-notify.org/Open-Notify-API/People-In-Space/](http://open-notify.org/Open-Notify-API/People-In-Space?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

In [35]:
import requests # you need this module to make an API call
import pandas as pd

from collections import Counter

import numpy as np

In [36]:
api_url = "http://api.open-notify.org/astros.json" # this url gives use the astronaut data

In [37]:
response = requests.get(api_url) # Call the API using the get method and store the
                                # output of the API call in a variable called response.

In [38]:
if response.ok:             # if all is well() no errors, no network timeouts)
    data = response.json()  # store the result in json format in a variable called data
                            # the variable data is of type dictionary.

In [39]:
print(data)   # print the data just to check the output or for debugging

{'message': 'success', 'number': 11, 'people': [{'name': 'Raja Chari', 'craft': 'ISS'}, {'name': 'Tom Marshburn', 'craft': 'ISS'}, {'name': 'Kayla Barron', 'craft': 'ISS'}, {'name': 'Matthias Maurer', 'craft': 'ISS'}, {'name': 'Oleg Artemyev', 'craft': 'ISS'}, {'name': 'Denis Matveev', 'craft': 'ISS'}, {'name': 'Sergey Korsakov', 'craft': 'ISS'}, {'name': 'Kjell Lindgren', 'craft': 'ISS'}, {'name': 'Bob Hines', 'craft': 'ISS'}, {'name': 'Samantha Cristoforetti', 'craft': 'ISS'}, {'name': 'Jessica Watkins', 'craft': 'ISS'}]}

Print the number of astronauts currently on ISS.

In [40]:
print(data.get('number'))

11

Print the names of the astronauts currently on ISS.

In [41]:
astronauts = data.get('people')
print("There are {} astronauts on ISS".format(len(astronauts)))
print("And their names are :")
for astronaut in astronauts:
    print(astronaut.get('name'))

There are 11 astronauts on ISS
And their names are :
Raja Chari
Tom Marshburn
Kayla Barron
Matthias Maurer
Oleg Artemyev
Denis Matveev
Sergey Korsakov
Kjell Lindgren
Bob Hines
Samantha Cristoforetti
Jessica Watkins

Hope the warmup was helpful. Good luck with your next lab!

## Lab: Collect Jobs Data using Jobs API

### Objective: Determine the number of jobs currently open for various technologies  and for various locations

Collect the number of job postings for the following locations using the API:

*   Los Angeles
*   New York
*   San Francisco
*   Washington DC
*   Seattle
*   Austin
*   Detroit

In [42]:
#Import required libraries
import pandas as pd
import json

#### Write a function to get the number of jobs for the Python technology.<br>

> Note: While using the lab you need to pass the **payload** information for the **params** attribute in the form of **key** **value** pairs.

Refer the ungraded **rest api lab** in the course **Python for Data Science, AI & Development**  <a href="https://www.coursera.org/learn/python-for-applied-data-science-ai/ungradedLti/P6sW8/hands-on-lab-access-rest-apis-request-http?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01">link</a>

##### The keys in the json are

*   Job Title

*   Job Experience Required

*   Key Skills

*   Role Category

*   Location

*   Functional Area

*   Industry

*   Role

You can also view  the json file contents  from the following <a href = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01">json</a> URL.

In [43]:
api_url="http://127.0.0.1:5000/data"
def get_number_of_jobs_T(technology):
    
    #your code goes here
    return technology,number_of_jobs

In [44]:
my_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01"

In [45]:
my_response = requests.get(my_url)

if my_response.ok:             
    mydata = my_response.json()
    
mydata = requests.get(my_url).json()

In [46]:
from collections import OrderedDict

cities=list(city['Location'] for city in mydata)

cities=OrderedDict( (x,1) for x in cities).keys()
a=list(cities)
a

['Los Angeles',
 'New York',
 'San Francisco',
 'Washington DC',
 'Boston',
 'Seattle',
 'Detroit',
 'Austin',
 'Houston',
 'Philadelphia',
 'New Orleons',
 'Baltimore',
 'Dallas']

In [47]:
type(a)

list

In [48]:
count = 0

for i in mydata:
    if 'Los Angeles' in i['Location']:
       count += 1

print(f'Number: {count}')

Number: 640

In [49]:
count = 0

for i in mydata:
    if 'java' in i['Key Skills']:
       count += 1

print(f'Number: {count}')

Number: 909

In [50]:
def get_number_of_jobs_T(language):
    count = 0

    for i in mydata:
        if language in i['Key Skills']:
            count += 1

    print(language + ': ' + str(count))

In [51]:
print(get_number_of_jobs_T('Python'))

Python: 1173
None

In [52]:
print(get_number_of_jobs_T('Java'))

Java: 2609
None

Calling the function for Python and checking if it works.

In [53]:
get_number_of_jobs_T("Python")

Python: 1173

#### Write a function to find number of jobs in US for a location of your choice

In [54]:
def get_number_of_jobs_L(city):
    count = 0

    for i in mydata:
        if city in i['Location']:
            count += 1

    print(city + ': ' + str(count))

Call the function for Los Angeles and check if it is working.

In [55]:
#your code goes here
get_number_of_jobs_T("Los Angeles")

Los Angeles: 0

In [56]:
get_number_of_jobs_T("Boston")

Boston: 0

### Store the results in an excel file

Call the API for all the given technologies above and write the results in an excel spreadsheet.

If you do not know how create excel file using python, double click here for **hints**.

<!--

from openpyxl import Workbook        # import Workbook class from module openpyxl
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Country','Continent'])   # add a row with two columns 'Country' and 'Continent'
ws.append(['Eygpt','Africa'])        # add a row with two columns 'Egypt' and 'Africa'
ws.append(['India','Asia'])          # add another row
ws.append(['France','Europe'])       # add another row
wb.save("countries.xlsx")            # save the workbook into a file called countries.xlsx


-->

Create a python list of all locations for which you need to find the number of jobs postings.

In [57]:
#your code goes here

cities
cities_list=list(cities)

In [58]:
type(cities)

odict_keys

In [59]:
cities_list

['Los Angeles',
 'New York',
 'San Francisco',
 'Washington DC',
 'Boston',
 'Seattle',
 'Detroit',
 'Austin',
 'Houston',
 'Philadelphia',
 'New Orleons',
 'Baltimore',
 'Dallas']

In [60]:
type(cities_list)

list

Import libraries required to create excel spreadsheet

In [61]:
# your code goes here
from openpyxl import Workbook        # import Workbook class from module openpyxl

Create a workbook and select the active worksheet

In [62]:
# your code goes here
#wb=Workbook()                        # create a workbook object
#ws=wb.active                         # use the active worksheet

#ws.append(['City','Language'])   # add a row with two columns 'Country' and 'Continent'

#wb.save("JobPosting_USA_cities_languages.xlsx")            # save the workbook into a file called countries.xlsx

Find the number of jobs postings for each of the location in the above list.
Write the Location name and the number of jobs postings into the excel spreadsheet.

In [63]:
#your code goes here
USA_cities=Counter(city['Location'] for city in mydata)
print(USA_cities)

Counter({'Washington DC': 5316, 'Detroit': 3945, 'Seattle': 3375, 'Houston': 3339, 'New York': 3226, 'Boston': 2966, 'Baltimore': 1263, 'Dallas': 1208, 'New Orleons': 817, 'Los Angeles': 640, 'San Francisco': 435, 'Austin': 434, 'Philadelphia': 41})

In [64]:
USA_cities_numJobs=list(USA_cities.items())
USA_cities_numJobs

[('Los Angeles', 640),
 ('New York', 3226),
 ('San Francisco', 435),
 ('Washington DC', 5316),
 ('Boston', 2966),
 ('Seattle', 3375),
 ('Detroit', 3945),
 ('Austin', 434),
 ('Houston', 3339),
 ('Philadelphia', 41),
 ('New Orleons', 817),
 ('Baltimore', 1263),
 ('Dallas', 1208)]

In [65]:
type(USA_cities_numJobs)

list

Save into an excel spreadsheet named 'job-postings.xlsx'.

In [66]:
#your code goes here
df_1=pd.DataFrame(USA_cities_numJobs,columns =['City','Number of job postings'])
df_1.sort_values(by='Number of job postings',ascending=False,inplace=True)
df_1

             City  Number of job postings
3   Washington DC                    5316
6         Detroit                    3945
5         Seattle                    3375
8         Houston                    3339
1        New York                    3226
4          Boston                    2966
11      Baltimore                    1263
12         Dallas                    1208
10    New Orleons                     817
0     Los Angeles                     640
2   San Francisco                     435
7          Austin                     434
9    Philadelphia                      41

In [67]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 3 to 9
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    13 non-null     object
 1   Number of job postings  13 non-null     int64
dtypes: int64(1), object(1)
memory usage: 312.0+ bytes

In [68]:
#your code goes here

excel_path_1='C:/Users/FCrovella/OneDrive - Bip/Desktop/IBM Data Analyst/Capstone/job-posting.xlsx'
df_1.to_excel(excel_path_1, index=False)

#### In the similar way, you can try for below given technologies and results  can be stored in an excel sheet.

Collect the number of job postings for the following languages using the API:

*   C
*   C#
*   C++
*   Java
*   JavaScript
*   Python
*   Scala
*   Oracle
*   SQL Server
*   MySQL Server
*   PostgreSQL
*   MongoDB

In [69]:
lang_list=['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
lang_list

['C',
 'C#',
 'C++',
 'Java',
 'JavaScript',
 'Python',
 'Scala',
 'Oracle',
 'SQL Server',
 'MySQL Server',
 'PostgreSQL',
 'MongoDB']

In [70]:
type(lang_list)

list

In [71]:
def number(l):
    count=0

    for i in mydata:
        if l in i['Key Skills']:
            count += 1

    a=(str(count))
    return(a)

In [72]:
number('Python')

'1173'

In [73]:
type(a)

list

In [74]:
# your code goes here
lang_list=['C','C#','C++','Java','JavaScript','Python','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']
numberJ = []

for language in lang_list:
    jobs=number(language)
    numberJ.append(jobs)

In [75]:
numberJ

['13498',
 '333',
 '305',
 '2609',
 '355',
 '1173',
 '33',
 '784',
 '250',
 '0',
 '10',
 '174']

In [76]:
type(numberJ)

list

In [77]:
df_2=pd.DataFrame({
    'Language': lang_list,
    'Number of job postings': numberJ})

In [78]:
df_2

        Language Number of job postings
0              C                  13498
1             C#                    333
2            C++                    305
3           Java                   2609
4     JavaScript                    355
5         Python                   1173
6          Scala                     33
7         Oracle                    784
8     SQL Server                    250
9   MySQL Server                      0
10    PostgreSQL                     10
11       MongoDB                    174

In [79]:
excel_path_2='C:/Users/FCrovella/OneDrive - Bip/Desktop/IBM Data Analyst/Capstone/JobPosting_USA_languages.xlsx'
df_2.to_excel(excel_path_2, index=False)

## Author

Ayushi Jain

Francesco Pio Crovella

### Other Contributors

Rav Ahuja

Lakshmi Holla

Malika

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-01-19        | 0.3     | Lakshmi Holla     | Added changes in the markdown      |
| 2021-06-25        | 0.2     | Malika            | Updated GitHub job json link       |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |
| 2022-06-05        | 0.1     | Francesco Pio Crovella | Created final version of the lab |

Copyright Â© 2022 IBM Corporation. All rights reserved.