<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

*   Extract information from a given web site
*   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [17]:
import pandas as pd
import csv

In [18]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [19]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

Download the webpage at the url

In [20]:
#your code goes here
data=requests.get(url).text

Create a soup object

In [21]:
#your code goes here
soup=BeautifulSoup(data,"html5lib")  # create a soup object using the variable 'data'

Scrape the `Language name` and `annual average salary`.

In [22]:
#your code goes here
table=soup.find('table') # in html table is represented by the tag <table>

In [23]:
table_rows=table.findAll('tr')
#table_rows

In [24]:
text_rows=[]

for table_row in table_rows:
    tag_html=table_row.findAll('td')
    text_rows.append([i.text.strip() for i in tag_html])

print(text_rows)

[['No.', 'Language', 'Created By', 'Average Annual Salary', 'Learning Difficulty'], ['1', 'Python', 'Guido van Rossum', '$114,383', 'Easy'], ['2', 'Java', 'James Gosling', '$101,013', 'Easy'], ['3', 'R', 'Robert Gentleman, Ross Ihaka', '$92,037', 'Hard'], ['4', 'Javascript', 'Netscape', '$110,981', 'Easy'], ['5', 'Swift', 'Apple', '$130,801', 'Easy'], ['6', 'C++', 'Bjarne Stroustrup', '$113,865', 'Hard'], ['7', 'C#', 'Microsoft', '$88,726', 'Hard'], ['8', 'PHP', 'Rasmus Lerdorf', '$84,727', 'Easy'], ['9', 'SQL', 'Donald D. Chamberlin, Raymond F. Boyce.', '$84,793', 'Easy'], ['10', 'Go', 'Robert Griesemer, Ken Thompson, Rob Pike.', '$94,082', 'Difficult']]

In [25]:
tag_html

[<td>10</td>,
 <td>Go</td>,
 <td>Robert Griesemer, Ken Thompson, Rob Pike.</td>,
 <td>$94,082</td>,
 <td>Difficult</td>]

In [26]:
text_rows_without_header=text_rows[1:11]

In [27]:
columns_name=['No.','Language','Created By','Average Annual Salary','Learning Difficulty']

df=pd.DataFrame(columns=columns_name,data=text_rows_without_header)
df

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
0,1,Python,Guido van Rossum,"$114,383",Easy
1,2,Java,James Gosling,"$101,013",Easy
2,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
3,4,Javascript,Netscape,"$110,981",Easy
4,5,Swift,Apple,"$130,801",Easy
5,6,C++,Bjarne Stroustrup,"$113,865",Hard
6,7,C#,Microsoft,"$88,726",Hard
7,8,PHP,Rasmus Lerdorf,"$84,727",Easy
8,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
9,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [28]:
df_csv=df[['Language','Average Annual Salary']]
df_csv

     Language Average Annual Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801
5         C++              $113,865
6          C#               $88,726
7         PHP               $84,727
8         SQL               $84,793
9          Go               $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [29]:
# your code goes here
csv_path='C:.../popular-languges.csv'
df_csv.to_csv(csv_path,index=False)

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

Francesco Pio Crovella

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |
| 2022-06-05        | 0.1     | Francesco Pio Crovella | Created final version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01).